tr {
	text-align: left;
}

h1, h2 {
	text-align: center;
}

h2 {
	color: maroon;
}

td {
	padding: 10px;

}

table {
    margin: 0 auto;
}

.dollar-meal {
	border: groove black;
	border-color: maroon;
	text-align: center;
	margin: 20px 200px 20px 200px;
}

#showcase {
    margin: 0px 0px 0px 400px;
}

.section {
	border: 5px solid;
	border-color: maroon;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
}

#total {
	text-align: center;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: solid maroon;
    margin-left: 200px;
    /*position: fixed;
    top: 0;
    width: 100%; */
}


.tab {
    float: left;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: maroon; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#nav_button {
	border: solid maroon;
	padding: 10px 20px 10px 20px;
	margin-left: 50px;
	position: fixed;
}

#molloy-logo {
	height: 275px;
	width: 375px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
#mySidenav {
	width: 205px;
}
*/