body {
margin-left: 0;
margin-right: 0;
}

tr {
  text-align: left;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: maroon;
}

td {
  padding: 5px;
}
#header {
  background-color: silver;
}

table {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 150%;
    /*
    border: 2px solid maroon;
    */
}

table tr:nth-child(even) {
  background-color: #2e8b57;
}


input {
width: 30px;
}


.section {
  /*
  border: 5px solid;
  border-color: maroon;
  */
  margin-top: 20px;
  margin-bottom: 20px;
  /*
  margin-left: 5%;
  margin-right: 5%;
  */
  /*
  padding: 20px;
  */
}

#total {
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: maroon;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: gray;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#molloy-logo {
  max-width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}


.orderWindow{

}

span {
  font-weight: bold;
}

.highlightitem {
  background-color: yellow;
}

.confirmation {
  text-align: center;
}

/*
.currentorder {
    float-right;
}
.orderPreview {
    
}
*/
/*
.dining-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 2px solid maroon;
}
.hours {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.td-t {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tr-t:nth-child(even) {
    background-color: #dddddd;
}
*/
